<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}Front-End Conf 2013{% endblock %}</title>
  {{ "/styles/app.css" | asset_url | stylesheet_tag }}
</head>
<body>
  
  <nav class="nav--toggle">
    {% include "navigation" %}
  </nav>

  <header>
    <a href="/" class="logo">
      Front-End <span>Design Conference</span>
    </a>
    <i aria-role="hidden" data-icon="&#x6d;" class="nav--toggle nav--trigger"></i> 
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    {% include "navigation" %}
  </footer>

</body>
</html>