{% block content %}


  <section class="inner home">
    
    <div class="block-to-half">
      <h2><span class="fit-03">June</span> <span class="fit-08">21st &amp; 22nd</span> <span class="fit-03">2013</span></h2>   
    </div>

    <div class="block-to-half florida">
      <p class="h3">St. Petersburg, FL</p>
      <img src="{{ "/images/florida.svg" | asset_url }}" alt="Map of Florida">
    </div>

    <h3 class="mission"><span class="fit-23">Front-End Conf is a few days of peer learning</span> <span class="fit-25">and celebrating how awesome our community is.</span></h3>

    <div class="block-to-half counts">
      <div class="block-to-half fit-009 h2">7</div> 
      <div class="block-to-half fit-045 h3">Day One <br />Speakers</div>
    </div>

    <div class="block-to-half counts">
      <div class="block-to-half fit-009 h2">?</div> 
      <div class="block-to-half fit-045 h3">Day Two <br />Speakers</div>
    </div>

    <p class="h3 fit-11 workshop">1 Optional Workshop</p>

    <div class="block-to-half tickets">

      <p>
        <span class="h2 fit-03">250</span>
        <span class="h3 fit-09">Tickets</span>
      </p>

    </div>

    <div class="block-to-half tickets">

      <p>
        <span class="h2 fit-03">250</span>
        <span class="h3 fit-09">Remaining</span>
      </p>

    </div>

  
  </section>

  <div class="center-group">
    <a href="{{ "/registration-info" | link_page }}" class="btn">Registration Info</a>
  </div>

{% endblock %}