{% block content %}
	<section>

        <img src="{{ "/images/characters/darcy-clarke.svg" | asset_url }}" alt="Darcy Clarke">


    <header>
      <h2>Variables</h2>
    </header>

    <div class="inner">

      <ul>
        <li class="color-base">
          $color-base: #414141 <div>&nbsp;</div>
        </li>
        <li class="color-highlight">
          $color-highlight: #0053C9 <div>&nbsp;</div>
        </li>
        <li class="color-link">
          $color-link: #95bf1f <div>&nbsp;</div>
        </li>
      </ul>

    </div>

    <header>
      <h2>Text</h2>
    </header>

    <div class="inner">

      <h1>HTML Ipsum Presents</h1>
             
      <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

      <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

      <h2>A Paragraph with an Image Inline</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>

      <h3>A Third Header Followed by a Paragraph</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>

      <blockquote>"Don't ask yourself what the world needs. Ask yourself what makes you come alive and then go do that. Because what the world needs is people who have come alive."
      <cite>Howard Thurman</cite></blockquote>

      <h3>Multiple Paragraphs</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>

      <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>

    </div>

  </section>

  <section>

    <header>
      <h2>Lists</h2>
    </header>

    <div class="inner">

      <h2>Header Level 2 and an Ordered List</h2>
               
      <ol>
         <li>First List Item</li>
         <li>Second List Item</li>
         <li>Third List Item</li>
      </ol>

      <h3>Header Level 3 and an Unordered List</h3>

      <ul>
         <li>First List Item</li>
         <li>Second List Item</li>
         <li>Third List Item</li>
      </ul>

      <h3>Inline List</h3>

      <ul class="list-inline">
         <li>First List Item</li>
         <li>Second List Item</li>
         <li>Third List Item</li>
      </ul>

      <h3>Bulleted List</h3>

      <ul class="list-bulleted">
         <li>First List Item</li>
         <li>Second List Item</li>
         <li>Third List Item</li>
      </ul>

      <h3>Numbered List</h3>

      <ul class="list-numbered">
         <li>First List Item</li>
         <li>Second List Item</li>
         <li>Third List Item</li>
      </ul>

    </div>

  </section>

  <section>

    <header>
      <h2>Buttons</h2>
    </header>

    <div class="inner">

      <button>Button</button>

      <a href="btn-a">Button A</a>

      <a href="btn-b">Button B</a>

    </div>

  </section>

  <section>

    <header>
      <h2>Forms</h2>
    </header>

    <div class="inner">

      <form action="#" method="post">
        <fieldset>
             <label for="name">Text Input:</label>
             <input type="text" name="name" id="name" value="" tabindex="1" />
        </fieldset>

        <fieldset>
             <h4>Radio Button Choice</h4>

             <label for="radio-choice-1">Choice 1</label>
             <input type="radio" name="radio-choice-1" id="radio-choice-1" tabindex="2" value="choice-1" />

         <label for="radio-choice-2">Choice 2</label>
             <input type="radio" name="radio-choice-2" id="radio-choice-2" tabindex="3" value="choice-2" />
        </fieldset>

        <fieldset>
          <label for="select-choice">Select Dropdown Choice:</label>
          <select name="select-choice" id="select-choice">
            <option value="Choice 1">Choice 1</option>
            <option value="Choice 2">Choice 2</option>
            <option value="Choice 3">Choice 3</option>
          </select>
        </fieldset>
        
        <fieldset>
          <label for="textarea">Textarea:</label>
          <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
        </fieldset>
        
        <fieldset>
          <label for="checkbox">Checkbox:</label>
          <input type="checkbox" name="checkbox" id="checkbox" />
        </fieldset>
            
        <input type="submit" value="Submit" />

      </form>

    </div>

  </section>

  <section>

    <header>
      <h2>Grids</h2>
    </header>

    <div class="inner">

      <div class="grid-a">

        <div class="cell-a">

          58%

        </div>

        <div class="cell-b">

          38%

        </div>

      </div>

      <div class="grid-a alt">

        <div class="cell-a">

          38%

        </div>

        <div class="cell-b">

          58%

        </div>

      </div>

      <div class="grid-b">

        <div class="cell-a">

          30%

        </div>

        <div class="cell-c">

          30%

        </div>

        <div class="cell-b">

          30%

        </div>

      </div>

      <div class="split">

        <div class="split-a">

          48%

        </div>

        <div class="split-b">

          48%

        </div>

      </div>


    </div>

  </section>

  <section>

    <header>
      <h2>Tables</h2>
    </header>

    <div class="inner">

      <table>
        <thead>
          <tr>
            <th>Header One</th>
            <th>Header Two</th>
            <th>Header Three</th>
            <th>Header Four</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pellentesque habitant</td>
            <td>Morbi tristique senectus et netus</td>
            <td>Malesuada fames ac turpis</td>
            <td>Turpis egestas</td>
          </tr>
          <tr>
            <td>Pellentesque habitant</td>
            <td>Morbi tristique senectus et netus</td>
            <td>Malesuada fames ac turpis</td>
            <td>Turpis egestas</td>
          </tr>
          <tr>
            <td>Pellentesque habitant</td>
            <td>Morbi tristique senectus et netus</td>
            <td>Malesuada fames ac turpis</td>
            <td>Turpis egestas</td>
          </tr>
        </tbody>
      </table>

    </div>

  </section>

  <section>

    <header>
      <h2>Nav</h2>
    </header>

    <div class="inner">

      <nav>
        <a href="#">Nav Item</a>
        <a href="#">Nav Item</a>
        <a href="#">Nav Item</a>
        <a href="#">Nav Item</a>
        <a href="#">Nav Item</a>
      </nav>

    </div>

  </section>

  <section>

    <header>
      <h2>Icons</h2>
    </header>

    <div class="inner">

      <i class="icn-home">Home</i>

      <i class="icn-search">Search</i>

    </div>

  </section>

  <section>

    <header>
      <h2>Data</h2>
    </header>

    <div class="inner">

      <h1>{{ title }}</h1>
      <p>A list of our team members</p>
      <ol>
        {% for item in team %}
        <li>{{ item.name }} and his Twitter handle {{ item.twitter }}</li>
        {% endfor %}
      </ol>

    </div>
{% endblock %}