nav
  +transition(width 250ms linear)
  background: #252525
  box-shadow: -0.25em 0 0.25em rgba(0, 0, 0, 0.1)
  height: 100%
  position: fixed
  right: 0
  top: 0
  width: 0
  z-index: 2
  a
    display: block
    margin: 1em
  &.is--active
    width: 50%
    +respond-to(768px)
      width: 30%
    +respond-to(1024px)
      width: 20%
    
.nav--trigger
  +transition(all 270ms linear)
  &.is--active
    background: #252525
    border-radius: 0 0 0 50%
    margin-top: 0
    padding: 0.1em 0.3em 0.3em 0.6em
    position: absolute
    right: 50%
    top: 0
    +respond-to(768px)
      right: 30%
    +respond-to(1024px)
      right: 20%